:root {
  font-family: "Linux Libertine G", serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.button {
  font-weight: bold;
  display: inline-block;
  padding: 6px 12px;
  font-size: 16px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.button.contained {
  background-color: #fff;
  color: #333;
  border: 2px solid #fff;
}

.button.contained:hover {
  background-color: #333;
  border-color: #f0f0f0;
  color: #fff;
}

.button.outlined, form button {
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
}
.button.outlined:hover, form button:hover {
  background-color: #fff;
  color: #333;
  border-color: #fff;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #fff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

header, footer {
  color: #fff;
  padding: 6px 0;
}

header {
  display: flex;
  justify-content: space-around;
  border-bottom: solid 1px #333333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #242424;
}

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.logo {
  font-family: "Linux Libertine G", serif;
  font-weight: bold;
  font-size: 40px;
}

.logo:hover {
  text-decoration: underline;
  color: white;
}

.header-links {
  display: flex;
  gap: 10px;
  margin: 11px;
}

.header-account {
  padding: 3px;
  text-align: center;
  vertical-align: middle;
}

.header-account:hover {
  cursor: pointer;
  background-color: #333333;
  border-radius: 5px;
}

.password-icon:hover {
  cursor: pointer;
  background-color: #3D3D3D;
  border-radius: 12px;
}

header a, footer p {
  color: #fff;
  text-decoration: none;
}

footer {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  border-top: solid 1px #333333;
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
  max-width: 1200px;
  width: 100%;
}

.footer-column {
  text-align: left;
  flex: 1;
}

.footer-link {
  color: #fff;
  text-decoration: none;
}
.footer-link:hover {
  text-decoration: underline;
}

.footer-icon {
  margin-right: 10px;
  vertical-align: middle;
}

main {
  padding: 20px;
  flex: 1;
}

form {
  display: flex;
  flex-direction: column;
  width: 360px;
  margin: 0 auto;
}

form input {
  margin: 12px 0;
  padding: 10px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

form button {
  font-weight: bold;
  margin: 12px 0;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  text-align: center;
}

.register-password-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.password-icon {
  vertical-align: middle;
  padding: 2px;
}

.error-message {
  color: red;
  text-align: center;
}

.login-signup {
  text-align: center;
  margin: 12px 0;
}

.login-signup-link {
  color: white;
  font-weight: bold;
}

.login-signup-link:hover {
  color: white;
  text-decoration: underline;
}

.menuDivider {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1px;
  background-color: #242424;
  width: 80%;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

.visibility-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.password-input-container input {
  width: 100%;
  padding-right: 30px;
}

.password-input-container {
  display: flex;
  align-items: center;
  position: relative;
}






