.error-message {
    color: red;
    text-align: center;
    font-size: 2.17vh;
}

.error-outline-outlined-icon {
    padding-right: 0.5556vh; /* 6px */
    padding-bottom: 0.5556vh; /* 6px */
    vertical-align: middle;
}
