footer, .footer-container {
    display: flex;
    justify-content: space-evenly;
}

footer {
    color: white;
    padding: 0.5556vh 0;
    position: absolute;
    width: 100%;
    border-top: solid 0.0556vh #333333;
}

.footer-container {
    max-width: 60vw;
    width: 100%;
    gap: 8vh;
}

.footer-column {
    text-align: center;
    flex: 1;
}

.footer-icon {
    padding-right: 0.5556vh;
    vertical-align: middle;
    padding-bottom: 0.1852vh;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-column {
        margin: 1.0185vh 0;
    }
}
