form {
    display: flex;
    flex-direction: column;
    width: 360px;
    margin: 0 auto;
}

form input, form button {
    margin: 12px 0;
    padding: 10px;
}

form input {
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}

form button {
    font-weight: bold;
    margin: 12px 0;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    background-color: transparent;
    border: 2px solid white;
}

form button:hover {
    background-color: white;
    color: #333;
    border-color: white;
}