form {
    display: flex;
    flex-direction: column;
    width: 25.63vw;
    margin: 0 auto;
}

form label {
    font-size: 2.4vh;
}

form input {
    margin: 1.1111vh 0;
    padding: 0.9259vh;
    font-size: 2vh;
    width: 100%;
    box-sizing: border-box;
}

form button {
    font-weight: bold;
    margin: 1.1111vh 0;
    padding: 1.1vh;
    font-size: 2.2vh;
    cursor: pointer;
    display: inline-block;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    background-color: transparent;
    border: 0.3vh solid white;
}

form button:hover {
    background-color: white;
    color: #333;
    border-color: white;
}

@media (max-width: 840px) {
    form {
        width: 70%;
        padding: 0 1.0101vw;
    }

    form input, form button {
        margin: 1.5vh 0;
    }

    form label {
        margin: 0.4vh;
    }
}

