form {
    display: flex;
    flex-direction: column;
    width: 25.63vw; /* 360px */
    margin: 0 auto;
}

form label {
    font-size: 2.4vh;
}

form input {
    margin: 1.1111vh 0; /* 12px */
    padding: 0.9259vh; /* 10px */
}

form input {
    font-size: 2vh; /* 14px */
    width: 100%;
    box-sizing: border-box;
}

form button {
    font-weight: bold;
    margin: 1.1111vh 0; /* 12px */
    padding: 1.1vh; /* 10px */
    font-size: 2.2vh; /* 16px */
    cursor: pointer;
    display: inline-block;
    border-radius: 4px; /* 4px */
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    background-color: transparent;
    border: 2px solid white; /* 2px */
}

form button:hover {
    background-color: white;
    color: #333;
    border-color: white;
}

@media (max-width: 768px) {
    form {
        width: 70%;
        padding: 0 1.0101vw; /* 20px */
    }

    form input, form button {
        margin: 1.5vh 0; /* 12px */
    }

    form label {
        margin: 0.4vh;
    }
}

