header, .header-container, .header-links {
    display: flex;
}

header, .header-container {
    justify-content: space-around;
    width: 100%;
}

header {
    border-bottom: solid 0.0556vh #333333; /* 1px */
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #242424;
    padding: 0.5556vh 0; /* 6px */
}

header a {
    color: white;
}

.header-container {
    align-items: center;
}

.header-button-outlined, .header-button-contained, .header-logo {
    font-weight: bold;
}

.header-button-outlined, .header-button-contained, .header-account {
    text-align: center;
}

.header-logo {
    font-family: "Linux Libertine G", serif;
    font-size: 5vh; /* 40px */
}

.header-logo:hover {
    text-decoration: underline;
    color: white;
}

.header-links {
    gap: 1vh; /* 10px */
    margin: 1.0185vh; /* 11px */
}

.header-button-contained, .header-button-outlined {
    border: 0.101vh solid white; /* 2px */
    display: inline-block;
    padding: 1.1111vh 2.2222vh; /* 6px 12px */
    font-size: 2vh; /* 16px */
    border-radius: 4px; /* 4px */
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.header-button-contained {
    background-color: white;
    color: #333;
}

.header-button-contained:hover {
    background-color: #333;
    border-color: #f0f0f0;
    color: white;
}

.header-button-outlined {
    background-color: transparent;
    color: white;
}

.header-button-outlined:hover {
    background-color: white;
    color: #333;
    border-color: white;
}

.header-account {
    padding: 0.2778vh; /* 3px */
    vertical-align: middle;
}

.header-account:hover {
    cursor: pointer;
    background-color: #333333;
    border-radius: 5px; /* 5px */
}

.header-account-username {
    font-style: italic;
    font-size: 2.2vh;
    padding: 1.4vh;
    margin: 0.5vh;
}

.header-account-divider {
    height: 0.1vh;
    background-color: #333333;
    width: 80%;
    margin: 0 10%;
}

@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        align-items: flex-start;
    }
}



