.home-container, .home-filter-container, .home-success-message {
    width: 100%;
}

.home-link {
    color: white;
    font-weight: bold;
}

.home-link:hover {
    color: white;
    text-decoration: underline;
}

.home-address-container, .home-filter-container {
    display: flex;
    flex: 1;
    justify-content: center;
}

.home-address-container {
    padding: 2.9629vh 0; /* 32px */
    font-size: 2.5vh; /* 18px */
    align-items: center;
    text-align: center;
}

.home-icon, .home-tooltip {
    vertical-align: middle;
}

.home-icon {
    padding-right: 0.5556vh; /* 10px */
    padding-bottom: 0.5556vh; /* 6px */
}

.home-address-input, .home-address-button {
    padding: 0.5556vh; /* 6px */
    font-size: 2.2vh; /* 16px */
}

.home-address-input {
    margin: 0 0.7407vh; /* 8px */
    box-sizing: border-box;
}

.home-address-button, .home-address-edit-button {
    cursor: pointer;
    display: inline-block;
    border-radius: 4px; /* 4px */
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    background-color: transparent;
    border: 2px solid white; /* 2px */
}

.home-address-button:hover {
    background-color: white;
    color: #333;
    border-color: white;
}

.home-address-edit-button {
    margin: 0 1.2963vh; /* 14px */
    padding: 0.3704vh; /* 4px */
    font-size: 1px; /* 1px */
}

.home-address-edit-button:hover {
    background-color: white;
    color: #333;
    border-color: white;
}

.home-tooltip {
    margin-left: 0.7407vh; /* 8px */
    padding: 0.1852vh; /* 2px */
}

.home-tooltip:hover {
    cursor: pointer;
    background-color: #3D3D3D;
    border-radius: 12px; /* 12px */
}

.home-filter-container {
    padding: 1.6667vh 0; /* 18px */
    background-color: #333333;
    font-size: 2.2vh;
}

.home-filter-checkbox-container {
    margin: 0 1.4815vh; /* 16px */
}

.home-map {
}

.home-success-message {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    max-width: 30.3030vw; /* 600px */
    margin: 0 auto;
    padding: 0.9259vh; /* 10px */
    text-align: center;
    font-size: 2.2vh;
}

@media (max-width: 768px) {
    .home-address-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .home-filter-container {
        flex-direction: column;
        align-items: center;
    }
}
