.home-container, .home-filter-container, .home-success-message {
    width: 100%;
}

.home-container {
    margin-top: 10vh;
}

.home-link {
    color: white;
    font-weight: bold;
}

.home-link:hover {
    color: white;
    text-decoration: underline;
}

.home-address-container, .home-address-edit-container, .home-filter-container {
    display: flex;
    flex: 1;
    justify-content: center;
}

.home-address-container, .home-address-edit-container {
    padding: 2.9629vh 0;
    font-size: 2.5vh;
}

.home-icon, .home-tooltip {
    vertical-align: middle;
}

.home-icon {
    padding-right: 0.5556vh;
    padding-bottom: 0.5556vh;
}

.home-address-input, .home-address-button {
    padding: 0.5556vh;
    font-size: 2.2vh;
}

.home-address-input {
    margin: 0 0.7407vh;
    box-sizing: border-box;
}

.home-address-button, .home-address-edit-button {
    margin: 0 0.4vh;
    cursor: pointer;
    display: inline-block;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    background-color: transparent;
    border: 0.3vh solid white;
}

.home-address-button:hover {
    background-color: white;
    color: #333;
    border-color: white;
}

.home-address-edit-button {
    margin: 0 1.2963vh;
    padding: 0.3704vh;
}

.home-address-edit-button:hover {
    background-color: white;
    color: #333;
    border-color: white;
}

.home-tooltip {
    margin-left: 0.7407vh;
    padding: 0.1852vh;
}

.home-tooltip:hover {
    cursor: pointer;
    background-color: #3D3D3D;
    border-radius: 12px;
}

.home-filter-container {
    padding: 1.6667vh 0;
    background-color: #333333;
    font-size: 2.2vh;
}

.home-filter-checkbox-container {
    margin: 0 1.4815vh;
}

.home-message {
    position: fixed;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    max-width: 30.3030vw;
    margin: 0 auto;
    padding: 0.9259vh;
    text-align: center;
    font-size: 2.2vh;
}

.home-leaflet-container {
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

@media (max-width: 768px) {
    .home-container {
        margin-top: 12vh;
        flex: 1;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    .home-address-container, .home-address-edit-container {
        width: 80%;
        flex-direction: column;
        text-align: center;
    }

    .home-address-edit-container {
        width: 100%;
    }

    .home-filter-container {
        flex-direction: column;
        align-items: center;
    }

    .home-filter-checkbox-container {
        width: 90%;
        margin: 1.5vh 0;
    }

    .home-success-message {
        max-width: 75vw;
    }

    .home-address-button, .home-address-input {
        margin: 0.6vh;
    }
}
