h3 {
    font-size: 2.2vh;
    text-align: center;
}

button {
    padding: 0.9259vh; /* 10px */
    font-weight: bold;
    font-size: 1.7vh; /* 16px */
    cursor: pointer;
    display: inline-block;
    border-radius: 4px; /* 4px */
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    background-color: transparent;
    border: 2px solid white; /* 2px */
}

button:hover {
    background-color: white;
    color: #333;
    border-color: white;
}

.map-container {
    border-radius: 4px;
    border: 2vh solid #333333;
    margin: 5vh;
    height: 80vh;
}

.map-favourite-icon:hover {
    cursor: pointer;
}

.map-show-details {
    font-size: 1.8vh;
    font-style: italic;
    color: #888888;
}

.map-show-details:hover {
    cursor: pointer;
    text-decoration: underline;
}

.map-button-container {
    text-align: center;
}

.leaflet-popup-content-wrapper, .leaflet-routing-container, .leaflet-popup-tip {
    background-color: #333333;
    color: white;
    font-family: "Linux Libertine G", serif;
    border-radius: 8px;
}

.leaflet-popup-content-wrapper, .leaflet-routing-container {
    font-size: 1.8vh;
}

.leaflet-popup-tip {
    background-color: #333333;
}

.map-popup-divider {
    height: 0.1vh;
    background-color: #4D4D4D;
    width: 90%;
    margin: 0 5%;
}

.leaflet-routing-container {
    padding: 0.2vh;
}

.leaflet-routing-alt h2 {
    text-align: center;
}

.leaflet-routing-alt tr:hover {
    background-color: #888888;
}

.leaflet-routing-icon {
    border-radius: 12px;
    margin: 0.4vh 0.8vh;
    color: white;
    background-color: white;
}

@media (max-width: 768px) {
    .map-container {
        border-radius: 0;
        border: 0;
        margin: 5vh 0;
        height: 80vh;
    }
}



