.password-container, .label-password-container {
    display: flex;
}

.password-container {
    align-items: center;
    position: relative;
}

.label-password-container {
    justify-content: space-between;
    width: 100%;
}

.password-tooltip {
    vertical-align: middle;
    padding: 0.1852vh; /* 2px */
}

.password-tooltip:hover {
    cursor: pointer;
    background-color: #3D3D3D;
    border-radius: 12px; /* 12px */
}

.password-visibility-icon {
    position: absolute;
    right: 0.9259vh; /* 10px */
    cursor: pointer;
}


